/* .index_page{
    margin: 10px 20px 20px 20rem;
    padding: 12px;
    font-size: 17px;
    background: ;
} */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.index_page{
    display: flex;
}
.search-icon{
    background: rgb(1, 41, 1);
    color: #fff;
    margin: 0 ;
    padding: 9px;
}
.btn{
    margin: 6px 0;
}
input{
    padding: 4px;

}
.index{
    background: darkolivegreen;
    color: rgb(234, 238, 173);
    padding: 12px;
}


